@import url("https://fonts.googleapis.com/css2?family=Knewave&family=Nunito:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: Nunito, sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container-historico {
  display: block;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px 80px 10px 80px
}

.conteiner-text {
 padding: 40px;
}